{% load static %}

{% block body %}

{% include 'navigation.html' %}

<style>
    tr{
        text-align: center;
    }
</style>

<h2 style="padding-left: 42%;">Latest Job List</h2>
<hr>
<div class="container">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color: rgb(72, 2, 80); color:rgb(235, 226, 226)">
            <th>Serial No.</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
            
        </tr>
    </thead>

    <tbody>
        {% for i in job %}
        <tr style="background-color: rgb(242, 228, 183);">
            <td>{{forloop.counter}}</td>
            <td>{{i.recruiter.company}}</td>
            <td>{{i.tittle}}</td>
            <td>{{i.location}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            <td><a href="{% url 'user_login' %}" class="btn btn-success btn-sm">Login to Apply</a>
            
        </td>
        </tr>
        {% endfor%}
    </tbody>

</table>
</div>
{% include 'footer.html' %}

{% endblock %}
