{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}
<h2 style="padding-left: 31%;">New Recruiters (Pending for approval)</h2>
<hr>
<div class="container">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color: rgb(45, 1, 8); color:aliceblue">
            <th>Serial No.</th>
            <th>Full Name</th>
            <th>Email-id</th>
            <th>Contact No.</th>
            <th>Company</th>
            <th>Gender</th>
            <th>Image</th>
            <th>Status</th>
            <th>action</th>

        </tr>
    </thead>

    <tbody>
        {% for i in data %}
        <tr style="background-color: rgb(251, 251, 162);">
            <td>{{forloop.counter}}</td>
            <td>{{i.user.first_name}} {{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.company}}</td>
            <td>{{i.gender}}</td>
            <td><img src = "{{i.image.url}}" style="width: 70px; height: 70px; border-radius:50%"></td>
            <td>{{i.status}}</td>
            <td><a href="{% url 'change_status' i.id %}" class="btn btn-success btn-sm">Change Status</a></td>
        </tr>
        {% endfor%}
    </tbody>

</table>
</div>
{% include 'footer.html' %}

{% endblock %}
