{% load static %}

{% block body %}

{% include 'navigation.html' %}

<script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('Password & Confirm Password does not match. Please Check & field accordingly');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>

<form class="container mt-5 shadow-lg py-4 mb-2" onsubmit="return checkpass()" name="signup" method="post" enctype="multipart/form-data">
 {% csrf_token %}
 <h2>User Registration</h2>

 <div class="form-row">
    <div class="form-group col-md-6">
        <label><b>First Name</b></label>
        <input type="text" class="form-control" name="fname" placeholder="Enter First Name" required>

    </div>

    <div class="form-group col-md-6">
        <label><b>Last Name</b></label>
        <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" required>

    </div>

 </div>

 <div class="form-row">
    <div class="form-group col-md-12">
        <label><b>Contact Number</b></label>
        <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number">
    </div>

 </div>

 <div class="form-row">
    <div class="form-group col-md-12">
        <label><b>Email Address</b></label>
        <input type="email" class="form-control" name="email" placeholder="Enter Email Address" required>
    </div>

 </div>

 <div class="form-row">
    <div class="form-group col-md-6">
        <label><b>Password</b></label>
        <input type="password" class="form-control" name="pwd" placeholder="Enter Password" required>

    </div>

    <div class="form-group col-md-6">
        <label><b>Confirm Password</b></label>
        <input type="password" class="form-control" name="cpwd" placeholder="Confirm Password" required>

    </div>

 </div>

 <div class="form-row">
    <div class="form-group col-md-6">
        <label><b>Gender</b></label>
     <div style="border:1px solid lightgray; padding:6px; border-radius:6px">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
            <label class="custom-control-label" for="customRadioInline1">Male</label>

        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
            <label class="custom-control-label" for="customRadioInline2">Female</label>

        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="gender" class="custom-control-input" value="Other">
            <label class="custom-control-label" for="customRadioInline3">Other</label>

     </div>

    </div>
        

    </div>

    <div class="form-group col-md-6">
        <label><b>Profile Picture</b></label>
        <input type="file" class="form-control" name="image" required>

    </div>

 </div>
 <input type="submit" value="SignUp" class="btn btn-primary mt-3 " style="margin-top:2%; color:rgb(255, 255, 255); background-color:rgb(2, 2, 88); height:50px; width:160px; font-size:20px">
</form><br>

{% include 'footer.html' %}
{% if error == "no" %}
<script>
    alert("You are successfully registered.");
    window.location = ('{% url "user_login" %}')

</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("Somthing Went Wrong, Try again.....");
</script>
{% endif %}
{% endblock %}